In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
fields = ["CPF BENEFICIÁRIO", "NOME BENEFICIÁRIO", "OBSERVAÇÃO"]
fields_dtype = {"CPF BENEFICIÁRIO": "str", "NOME BENEFICIÁRIO": "str", "OBSERVAÇÃO": "category"}

### Importação da primeira metade dos arquivos CSV:

In [5]:
# IMPORTAÇÃO DOS ARQUIVOS CSV DO AUXILIO EMERGENCIAL

path = r'C:\DATASETS\Auxilio Emergencial\1-Originais\metade 1'
all_files = glob.glob(path + "/*.csv")

li = []
#auxilio_df = pd.DataFrame(columns=fields)

for filename in all_files:
    print(filename.rsplit('\\', 1)[1])
    temp_df = pd.read_csv(filename, index_col=None, header=0, 
                sep=';', encoding='ANSI', dtype=fields_dtype,
                usecols=fields)
    temp_df = temp_df.drop_duplicates()
    
    li.append(temp_df)
        
print('Terminou loop')
# Concatena o resultado no dataframe
auxilio_df = pd.concat(li, axis=0, ignore_index=True)
auxilio_df = auxilio_df.drop_duplicates()

auxilio_df.describe

202004_AuxilioEmergencial.csv
202005_AuxilioEmergencial.csv
202006_AuxilioEmergencial.csv
202007_AuxilioEmergencial.csv
202008_AuxilioEmergencial.csv
Terminou loop

<bound method NDFrame.describe of           CPF BENEFICIÁRIO                NOME BENEFICIÁRIO  \
0           ***.674.311-**      ABEL DARIO GONZALEZ LEZCANO
1           ***.306.004-**  ABRAAO WENDEL DE ALMEIDA VELOZO
2           ***.333.979-**   ADAIANE GOMES DOS SANTOS WEBER
3           ***.188.768-**         ADAILTON OLIVEIRA MORAIS
4           ***.670.044-**    ADALBERTO DE OLIVEIRA BARBOSA
...                    ...                              ...
259102860   ***.391.681-**         SILVIA DOS SANTOS ARAUJO
259102988   ***.888.931-**        TIAGO FERREIRA DOS SANTOS
259103001   ***.994.701-**          UELTON FILHO DOS SANTOS
259103093   ***.446.161-**             VICTOR ALVES PEREIRA
259103168   ***.210.782-**       WENDELL BATISTA NASCIMENTO

                                 OBSERVAÇÃO
0          Pagamento bloqueado ou cancelado
1                                    Não há
2          Pagamento bloqueado ou cancelado
3          Pagamento bloqueado ou cancelado
4          Pagamento bloqueado ou cancelado
...                                     ...
259102860                            Não há
259102988                            Não há
259103001                            Não há
259103093                            Não há
259103168                            Não há

[67192056 rows x 3 columns]>

In [9]:
auxilio_df = auxilio_df[auxilio_df['NOME BENEFICIÁRIO'].notna()]

In [10]:
auxilio_df.describe

<bound method NDFrame.describe of           CPF BENEFICIÁRIO                NOME BENEFICIÁRIO  \
0           ***.674.311-**      ABEL DARIO GONZALEZ LEZCANO
1           ***.306.004-**  ABRAAO WENDEL DE ALMEIDA VELOZO
2           ***.333.979-**   ADAIANE GOMES DOS SANTOS WEBER
3           ***.188.768-**         ADAILTON OLIVEIRA MORAIS
4           ***.670.044-**    ADALBERTO DE OLIVEIRA BARBOSA
...                    ...                              ...
259102860   ***.391.681-**         SILVIA DOS SANTOS ARAUJO
259102988   ***.888.931-**        TIAGO FERREIRA DOS SANTOS
259103001   ***.994.701-**          UELTON FILHO DOS SANTOS
259103093   ***.446.161-**             VICTOR ALVES PEREIRA
259103168   ***.210.782-**       WENDELL BATISTA NASCIMENTO

                                 OBSERVAÇÃO
0          Pagamento bloqueado ou cancelado
1                                    Não há
2          Pagamento bloqueado ou cancelado
3          Pagamento bloqueado ou cancelado
4          Pagamento bloqueado ou cancelado
...                                     ...
259102860                            Não há
259102988                            Não há
259103001                            Não há
259103093                            Não há
259103168                            Não há

[67192040 rows x 3 columns]>

In [12]:
auxilio_df.to_csv(r'C:\DATASETS\Auxilio Emergencial\auxilio_emergencial-metade1.csv', index=False, encoding="ANSI")

### Importação da segunda metade (2.1) dos arquivos CSV:

In [3]:
# IMPORTAÇÃO DOS ARQUIVOS CSV DO AUXILIO EMERGENCIAL

path = r'C:\DATASETS\Auxilio Emergencial\1-Originais\metade 2.1'
all_files = glob.glob(path + "/*.csv")

auxilio_df2  = pd.DataFrame(columns=fields)

for filename in all_files:
    print(filename.rsplit('\\', 1)[1])
    temp_df = pd.read_csv(filename, index_col=None, header=0, sep=';', encoding='ANSI', dtype=fields_dtype, usecols=fields)
    
    print('  > Append...')
    auxilio_df2 = auxilio_df2.append(temp_df, ignore_index=True)
    print('  > Duplicates...')
    auxilio_df2 = auxilio_df2.drop_duplicates()
    
auxilio_df2.describe

202009_AuxilioEmergencial.csv
  > Append...
  > Duplicates...
202010_AuxilioEmergencial.csv
  > Append...
  > Duplicates...

<bound method NDFrame.describe of           CPF BENEFICIÁRIO                 NOME BENEFICIÁRIO OBSERVAÇÃO
0           ***.022.759-**                               NaN     Não há
1           ***.219.873-**                               NaN     Não há
2           ***.250.048-**                               NaN     Não há
3           ***.025.018-**                 ABDELHAY ELHAKIMI     Não há
4           ***.659.945-**  ABDERLAN DA SILVA DOURADO JUNIOR     Não há
...                    ...                               ...        ...
116865670   ***.141.221-**            MARCONES GALDINO GOMES     Não há
116866013   ***.923.611-**        MARINA STEFANE DE SA GOMES     Não há
116866064   ***.783.421-**              MATHEUS CAETANO PAES     Não há
116866104   ***.460.682-**          MICHELE LOPES DOS SANTOS     Não há
116866254   ***.338.771-**         PAULIANA PEREIRA DA SILVA     Não há

[61639964 rows x 3 columns]>

In [5]:
auxilio_df2.to_csv(r'C:\DATASETS\Auxilio Emergencial\auxilio_emergencial-metade2-1.csv', index=False, encoding="ANSI")

In [6]:
del auxilio_df2

### Importação da segunda metade (2.2) dos arquivos CSV:

In [7]:
# IMPORTAÇÃO DOS ARQUIVOS CSV DO AUXILIO EMERGENCIAL

path = r'C:\DATASETS\Auxilio Emergencial\1-Originais\metade 2.2'
all_files = glob.glob(path + "/*.csv")

auxilio_df2  = pd.DataFrame(columns=fields)
contador = 1
for filename in all_files:
    print(filename.rsplit('\\', 1)[1])
    temp_df = pd.read_csv(filename, index_col=None, header=0, sep=';', encoding='ANSI', dtype=fields_dtype, usecols=fields)
    
    print('  > Append...')
    auxilio_df2 = auxilio_df2.append(temp_df, ignore_index=True)
    
    # Do segundo arquivo em diante, remove duplicados:
    if contador >= 2:
        print('  > Duplicates...')
        auxilio_df2 = auxilio_df2.drop_duplicates()
    
    contador += 1
    
auxilio_df2.describe

202011_AuxilioEmergencial.csv
  > Append...
202012_AuxilioEmergencial.csv
  > Append...
  > Duplicates...
202101_AuxilioEmergencial.csv
  > Append...
  > Duplicates...

<bound method NDFrame.describe of          CPF BENEFICIÁRIO                        NOME BENEFICIÁRIO  \
0          ***.643.870-**                                      NaN
1          ***.108.816-**                                      NaN
2          ***.095.215-**                                      NaN
3          ***.885.226-**                                      NaN
4          ***.817.249-**                                      NaN
...                   ...                                      ...
59043796   ***.026.071-**                       LEOMAR SILVA ROLIM
59043798   ***.036.001-**               MARIA EDUARDA DANTAS SILVA
59043799   ***.369.301-**  MARIA POLIANA ALVES ANGELICA DOS SANTOS
59043800   ***.844.441-**              MUNIK HEVELEN NUNES PEREIRA
59043801   ***.480.791-**           SAMARA MARSELHIE CARDOSO ALVES

                                OBSERVAÇÃO
0                                   Não há
1                                   Não há
2                                   Não há
3                                   Não há
4                                   Não há
...                                    ...
59043796  Pagamento bloqueado ou cancelado
59043798  Pagamento bloqueado ou cancelado
59043799  Pagamento bloqueado ou cancelado
59043800  Pagamento bloqueado ou cancelado
59043801  Pagamento bloqueado ou cancelado

[58709543 rows x 3 columns]>

In [8]:
auxilio_df2.to_csv(r'C:\DATASETS\Auxilio Emergencial\auxilio_emergencial-metade2-2.csv', index=False, encoding="ANSI")

### Junção das partes 2.1 e 2.2:

In [12]:
# Carrega a parte 2.1:
auxilio_df = pd.read_csv(r'C:\DATASETS\Auxilio Emergencial\auxilio_emergencial-metade2-1.csv', index_col=None, header=0, sep=',', encoding='latin-1', dtype=fields_dtype, usecols=fields)

In [15]:
# Como já estamos com a parte 2.2 na memória, vamos juntá-las:
auxilio_df = auxilio_df.append(auxilio_df2, ignore_index=True)

In [16]:
auxilio_df

,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,OBSERVAÇÃO
0,***.022.759-**,NaN,Não há
1,***.219.873-**,NaN,Não há
2,***.250.048-**,NaN,Não há
3,***.025.018-**,ABDELHAY ELHAKIMI,Não há
4,***.659.945-**,ABDERLAN DA SILVA DOURADO JUNIOR,Não há
...,...,...,...
120349502,***.026.071-**,LEOMAR SILVA ROLIM,Pagamento bloqueado ou cancelado
120349503,***.036.001-**,MARIA EDUARDA DANTAS SILVA,Pagamento bloqueado ou cancelado
120349504,***.369.301-**,MARIA POLIANA ALVES ANGELICA DOS SANTOS,Pagamento bloqueado ou cancelado
120349505,***.844.441-**,MUNIK HEVELEN NUNES PEREIRA,Pagamento bloqueado ou cancelado
120349506,***.480.791-**,SAMARA MARSELHIE CARDOSO ALVES,Pagamento bloqueado ou cancelado

In [17]:
# Remover duplicados:
auxilio_df = auxilio_df.drop_duplicates()

In [18]:
auxilio_df

,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,OBSERVAÇÃO
0,***.022.759-**,NaN,Não há
1,***.219.873-**,NaN,Não há
2,***.250.048-**,NaN,Não há
3,***.025.018-**,ABDELHAY ELHAKIMI,Não há
4,***.659.945-**,ABDERLAN DA SILVA DOURADO JUNIOR,Não há
...,...,...,...
120349502,***.026.071-**,LEOMAR SILVA ROLIM,Pagamento bloqueado ou cancelado
120349503,***.036.001-**,MARIA EDUARDA DANTAS SILVA,Pagamento bloqueado ou cancelado
120349504,***.369.301-**,MARIA POLIANA ALVES ANGELICA DOS SANTOS,Pagamento bloqueado ou cancelado
120349505,***.844.441-**,MUNIK HEVELEN NUNES PEREIRA,Pagamento bloqueado ou cancelado
120349506,***.480.791-**,SAMARA MARSELHIE CARDOSO ALVES,Pagamento bloqueado ou cancelado

In [19]:
# Liberar memória:
del auxilio_df2

In [20]:
auxilio_df.to_csv(r'C:\DATASETS\Auxilio Emergencial\auxilio_emergencial-metade2-consolidado.csv', index=False, encoding="ANSI")

In [21]:
# Removendo nulos:
auxilio_df = auxilio_df.dropna(subset=['CPF BENEFICIÁRIO', 'NOME BENEFICIÁRIO'])

In [22]:
auxilio_df

,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,OBSERVAÇÃO
3,***.025.018-**,ABDELHAY ELHAKIMI,Não há
4,***.659.945-**,ABDERLAN DA SILVA DOURADO JUNIOR,Não há
5,***.565.608-**,ABEL CARLOS FELISMINO DA SILVA BRAVO,Não há
6,***.473.335-**,ABEL DE OLIVEIRA SANTOS,Não há
7,***.919.188-**,ABIGAIL PAULA PRUDENTE DE CARVALHO,Não há
...,...,...,...
120349502,***.026.071-**,LEOMAR SILVA ROLIM,Pagamento bloqueado ou cancelado
120349503,***.036.001-**,MARIA EDUARDA DANTAS SILVA,Pagamento bloqueado ou cancelado
120349504,***.369.301-**,MARIA POLIANA ALVES ANGELICA DOS SANTOS,Pagamento bloqueado ou cancelado
120349505,***.844.441-**,MUNIK HEVELEN NUNES PEREIRA,Pagamento bloqueado ou cancelado
120349506,***.480.791-**,SAMARA MARSELHIE CARDOSO ALVES,Pagamento bloqueado ou cancelado

In [24]:
dir()

['In',
 'Out',
 '_',
 '_13',
 '_14',
 '_16',
 '_18',
 '_22',
 '_23',
 '_3',
 '_7',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'all_files',
 'auxilio_df',
 'contador',
 'exit',
 'fields',
 'fields_dtype',
 'filename',
 'get_ipython',
 'glob',
 'np',
 'path',
 'pd',
 'quit',
 'temp_df']

In [25]:
# Liberar memória:
del temp_df

In [26]:
import sys

# These are the usual ipython objects, including this one you are creating
ipython_vars = ['In', 'Out', 'exit', 'quit', 'get_ipython', 'ipython_vars']

# Get a sorted list of the objects and their sizes
sorted([(x, sys.getsizeof(globals().get(x))) for x in dir() if not x.startswith('_') and x not in sys.modules and x not in ipython_vars], key=lambda x: x[1], reverse=True)

[('auxilio_df', 14580003656),
 ('fields_dtype', 240),
 ('filename', 133),
 ('all_files', 112),
 ('path', 103),
 ('fields', 88),
 ('np', 80),
 ('pd', 80),
 ('contador', 28)]

### Junção das partes 1 e 2:

In [27]:
auxilio_parte_1_df = pd.read_csv(r'C:\DATASETS\Auxilio Emergencial\auxilio_emergencial-metade1.csv', index_col=None, header=0, sep=',', encoding='latin-1', dtype=fields_dtype, usecols=fields)

In [28]:
auxilio_parte_1_df

,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,OBSERVAÇÃO
0,***.674.311-**,ABEL DARIO GONZALEZ LEZCANO,Pagamento bloqueado ou cancelado
1,***.306.004-**,ABRAAO WENDEL DE ALMEIDA VELOZO,Não há
2,***.333.979-**,ADAIANE GOMES DOS SANTOS WEBER,Pagamento bloqueado ou cancelado
3,***.188.768-**,ADAILTON OLIVEIRA MORAIS,Pagamento bloqueado ou cancelado
4,***.670.044-**,ADALBERTO DE OLIVEIRA BARBOSA,Pagamento bloqueado ou cancelado
...,...,...,...
67192035,***.391.681-**,SILVIA DOS SANTOS ARAUJO,Não há
67192036,***.888.931-**,TIAGO FERREIRA DOS SANTOS,Não há
67192037,***.994.701-**,UELTON FILHO DOS SANTOS,Não há
67192038,***.446.161-**,VICTOR ALVES PEREIRA,Não há
67192039,***.210.782-**,WENDELL BATISTA NASCIMENTO,Não há

In [29]:
# Como já estamos com a parte 2 consolidada na memória, vamos juntá-las:
auxilio_df = auxilio_df.append(auxilio_parte_1_df, ignore_index=True)

In [30]:
# Remover duplicados:
auxilio_df = auxilio_df.drop_duplicates()

In [31]:
auxilio_df.to_csv(r'C:\DATASETS\Auxilio Emergencial\auxilio_emergencial.csv', index=False, encoding="ANSI")

In [32]:
# Liberar memória:
del auxilio_parte_1_df

In [33]:
# Removendo nulos:
auxilio_df = auxilio_df.dropna(subset=['CPF BENEFICIÁRIO', 'NOME BENEFICIÁRIO'])

In [34]:
auxilio_df

,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,OBSERVAÇÃO
0,***.025.018-**,ABDELHAY ELHAKIMI,Não há
1,***.659.945-**,ABDERLAN DA SILVA DOURADO JUNIOR,Não há
2,***.565.608-**,ABEL CARLOS FELISMINO DA SILVA BRAVO,Não há
3,***.473.335-**,ABEL DE OLIVEIRA SANTOS,Não há
4,***.919.188-**,ABIGAIL PAULA PRUDENTE DE CARVALHO,Não há
...,...,...,...
129445079,***.355.791-**,MARCILEIA RODRIGUES DE CARVALHO,Pagamento bloqueado ou cancelado
129445080,***.378.771-**,MARIA DORACY CONCEICAO PEREIRA,Pagamento bloqueado ou cancelado
129445087,***.111.991-**,RAIMUNDA FERREIRA BARROSO DA CONCEICAO,Pagamento bloqueado ou cancelado
129445091,***.949.021-**,ROSIMARIA DIAS DE ARAUJO PEREIRA,Pagamento bloqueado ou cancelado
129445181,***.780.321-**,ROBERTO LUCAS PEREIRA DA SILVA,Não há

In [35]:
# Limpa os CPFs:
auxilio_df['CPF BENEFICIÁRIO'] = auxilio_df['CPF BENEFICIÁRIO'].str.replace('[\.\-]', '', regex=True)
auxilio_df['CPF BENEFICIÁRIO'].str.len().value_counts()

11    68278463
Name: CPF BENEFICIÁRIO, dtype: int64

In [36]:
auxilio_df['OBSERVAÇÃO'].value_counts()

Não há                              45069072
Pagamento bloqueado ou cancelado     3552279
Valor devolvido à União.              206670
Name: OBSERVAÇÃO, dtype: int64

In [37]:
auxilio_df['auxilio_emergencial_bloqueado'] = np.where(
    auxilio_df['OBSERVAÇÃO']=='Pagamento bloqueado ou cancelado', True, False)
auxilio_df['auxilio_emergencial_bloqueado'].value_counts()

False    64726184
True      3552279
Name: auxilio_emergencial_bloqueado, dtype: int64

In [38]:
auxilio_df.drop(columns={'OBSERVAÇÃO'}, inplace=True)
auxilio_df

,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,auxilio_emergencial_bloqueado
0,***025018**,ABDELHAY ELHAKIMI,False
1,***659945**,ABDERLAN DA SILVA DOURADO JUNIOR,False
2,***565608**,ABEL CARLOS FELISMINO DA SILVA BRAVO,False
3,***473335**,ABEL DE OLIVEIRA SANTOS,False
4,***919188**,ABIGAIL PAULA PRUDENTE DE CARVALHO,False
...,...,...,...
129445079,***355791**,MARCILEIA RODRIGUES DE CARVALHO,True
129445080,***378771**,MARIA DORACY CONCEICAO PEREIRA,True
129445087,***111991**,RAIMUNDA FERREIRA BARROSO DA CONCEICAO,True
129445091,***949021**,ROSIMARIA DIAS DE ARAUJO PEREIRA,True
129445181,***780321**,ROBERTO LUCAS PEREIRA DA SILVA,False

In [40]:
auxilio_df2 = auxilio_df.groupby(['CPF BENEFICIÁRIO', 'NOME BENEFICIÁRIO']).agg({'auxilio_emergencial_bloqueado': 'sum'}).reset_index()
auxilio_df2

,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,auxilio_emergencial_bloqueado
0,***000000**,AALYHA MELO RODRIGUES CARVALHO,False
1,***000000**,AAPINA PARAKANA,False
2,***000000**,AARAO MARTINS DE MACEDO,False
3,***000000**,AARON CARTER BELTRAO DOS SANTOS,False
4,***000000**,AARON PAULO CARDOSO NETO,False
...,...,...,...
68197048,***999999**,VINICIUS DE AZEREDO,False
68197049,***999999**,VIVIANE APARECIDA DE FREITAS,False
68197050,***999999**,ZENAIDE DE SOUZA SIMOES SELHORST,False
68197051,***999999**,ZEUNICE DE FATIMA ROCHA FERREIRA,False
68197052,***999999**,ZILDA APARECIDA VENTURA SCANDIUSSI,False

In [41]:
auxilio_df2.auxilio_emergencial_bloqueado.value_counts()

False    64644774
True      3552279
Name: auxilio_emergencial_bloqueado, dtype: int64

In [42]:
# Conferindo um resultado qualquer:
auxilio_df2[(auxilio_df2['CPF BENEFICIÁRIO'] == '***378771**')&(auxilio_df2['NOME BENEFICIÁRIO']=='MARIA DORACY CONCEICAO PEREIRA')]

,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,auxilio_emergencial_bloqueado
26138160,***378771**,MARIA DORACY CONCEICAO PEREIRA,True

In [44]:
# Reduzir memória ocupada:
del auxilio_df

In [45]:
# Salva resultado:
auxilio_df2.to_csv(r'C:\DATASETS\Auxilio Emergencial\auxilio_emergencial.csv', index=False, encoding="ANSI")