In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
fields = ["CPF FAVORECIDO","NOME FAVORECIDO"]
fields_dtype = {"CPF FAVORECIDO": str, "NOME FAVORECIDO": str}

In [4]:
# IMPORTAÇÃO DOS ARQUIVOS CSV

path = r'C:\DATASETS\Bolsa Família\1-Arquivos Baixados'
all_files = glob.glob(path + "/*.csv")

bolsa_familia_df  = pd.DataFrame(columns=fields)
for filename in all_files:
    print(filename.rsplit('\\',1)[1])
    temp_df = pd.read_csv(filename, index_col=None, header=0, sep=';', 
                encoding='ANSI', dtype=fields_dtype, usecols=fields)
    
    print('  > Append...')
    bolsa_familia_df = bolsa_familia_df.append(temp_df, ignore_index=True)
    print('  > Duplicates...')
    bolsa_familia_df = bolsa_familia_df.drop_duplicates()

bolsa_familia_df.describe

202001_BolsaFamilia_Pagamentos.csv
  > Append...
  > Duplicates...
202002_BolsaFamilia_Pagamentos.csv
  > Append...
  > Duplicates...
202003_BolsaFamilia_Pagamentos.csv
  > Append...
  > Duplicates...
202004_BolsaFamilia_Pagamentos.csv
  > Append...
  > Duplicates...
202005_BolsaFamilia_Pagamentos.csv
  > Append...
  > Duplicates...
202006_BolsaFamilia_Pagamentos.csv
  > Append...
  > Duplicates...
202007_BolsaFamilia_Pagamentos.csv
  > Append...
  > Duplicates...
202008_BolsaFamilia_Pagamentos.csv
  > Append...
  > Duplicates...
202009_BolsaFamilia_Pagamentos.csv
  > Append...
  > Duplicates...
202010_BolsaFamilia_Pagamentos.csv
  > Append...
  > Duplicates...
202011_BolsaFamilia_Pagamentos.csv
  > Append...
  > Duplicates...
202012_BolsaFamilia_Pagamentos.csv
  > Append...
  > Duplicates...

<bound method NDFrame.describe of           CPF FAVORECIDO                    NOME FAVORECIDO
0         ***.361.206-**              ADRIANA RANGEL SANSAO
1         ***.421.636-**            ALEXSANDRA PEREIRA MUTZ
2         ***.770.636-**        ELIANA CRISTINA ROCHA SILVA
3         ***.331.186-**                     ELIANE PEREIRA
4         ***.594.436-**    IOLANDA DE ASSIS SILVA CESARINO
...                  ...                                ...
29052568  ***.375.561-**   LUCIMAR GONCALVES DE SOUZA COSTA
29054397  ***.314.221-**         RAIMUNDA ARAUJO DO ROSARIO
29055672  ***.457.631-**   REGINA CELIA BERNARDO DOS SANTOS
29064045  ***.400.361-**     RENIANE GOMES DE OLIVEIRA LEAL
29064915  ***.153.991-**  ANA PAULA BRITO PACHECO FERNANDES

[14799810 rows x 2 columns]>

In [5]:
# Removemos os nomes nulos:
bolsa_familia_df = bolsa_familia_df.dropna(subset=['NOME FAVORECIDO'])
bolsa_familia_df

          CPF FAVORECIDO                    NOME FAVORECIDO
0         ***.361.206-**              ADRIANA RANGEL SANSAO
1         ***.421.636-**            ALEXSANDRA PEREIRA MUTZ
2         ***.770.636-**        ELIANA CRISTINA ROCHA SILVA
3         ***.331.186-**                     ELIANE PEREIRA
4         ***.594.436-**    IOLANDA DE ASSIS SILVA CESARINO
...                  ...                                ...
29052568  ***.375.561-**   LUCIMAR GONCALVES DE SOUZA COSTA
29054397  ***.314.221-**         RAIMUNDA ARAUJO DO ROSARIO
29055672  ***.457.631-**   REGINA CELIA BERNARDO DOS SANTOS
29064045  ***.400.361-**     RENIANE GOMES DE OLIVEIRA LEAL
29064915  ***.153.991-**  ANA PAULA BRITO PACHECO FERNANDES

[14799810 rows x 2 columns]

In [7]:
# Removemos os CPFs nulos:
bolsa_familia_df = bolsa_familia_df.dropna(subset=['CPF FAVORECIDO'])
bolsa_familia_df

          CPF FAVORECIDO                    NOME FAVORECIDO
0         ***.361.206-**              ADRIANA RANGEL SANSAO
1         ***.421.636-**            ALEXSANDRA PEREIRA MUTZ
2         ***.770.636-**        ELIANA CRISTINA ROCHA SILVA
3         ***.331.186-**                     ELIANE PEREIRA
4         ***.594.436-**    IOLANDA DE ASSIS SILVA CESARINO
...                  ...                                ...
29052568  ***.375.561-**   LUCIMAR GONCALVES DE SOUZA COSTA
29054397  ***.314.221-**         RAIMUNDA ARAUJO DO ROSARIO
29055672  ***.457.631-**   REGINA CELIA BERNARDO DOS SANTOS
29064045  ***.400.361-**     RENIANE GOMES DE OLIVEIRA LEAL
29064915  ***.153.991-**  ANA PAULA BRITO PACHECO FERNANDES

[14617744 rows x 2 columns]

In [8]:
# Avaliando o que tem no campo de cpf favorecido:
bolsa_familia_df['CPF FAVORECIDO'].str.len().value_counts()

14    14617744
Name: CPF FAVORECIDO, dtype: int64

In [9]:
# Limpa os CPFs:
bolsa_familia_df['CPF FAVORECIDO'] = bolsa_familia_df['CPF FAVORECIDO'].str.replace('[\.\-]', '', regex=True)
bolsa_familia_df['CPF FAVORECIDO'].str.len().value_counts()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

11    14617744
Name: CPF FAVORECIDO, dtype: int64

Quantidade conforme cálculo feito anteriormente.

In [10]:
bolsa_familia_df

         CPF FAVORECIDO                    NOME FAVORECIDO
0           ***361206**              ADRIANA RANGEL SANSAO
1           ***421636**            ALEXSANDRA PEREIRA MUTZ
2           ***770636**        ELIANA CRISTINA ROCHA SILVA
3           ***331186**                     ELIANE PEREIRA
4           ***594436**    IOLANDA DE ASSIS SILVA CESARINO
...                 ...                                ...
29052568    ***375561**   LUCIMAR GONCALVES DE SOUZA COSTA
29054397    ***314221**         RAIMUNDA ARAUJO DO ROSARIO
29055672    ***457631**   REGINA CELIA BERNARDO DOS SANTOS
29064045    ***400361**     RENIANE GOMES DE OLIVEIRA LEAL
29064915    ***153991**  ANA PAULA BRITO PACHECO FERNANDES

[14617744 rows x 2 columns]

In [11]:
bolsa_familia_df.rename(columns={'CPF FAVORECIDO': 'CPF', 'NOME FAVORECIDO': 'nome_favorecido'}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [12]:
# Salvando resultado final:
bolsa_familia_df.to_csv(r'C:\DATASETS\Bolsa Família\bolsa_familia.csv', index=False)