As empresas listadas na Central de Balanços são claramente empresas ativas, operantes de fato. Obter a lista dos CNPJs dessas empresas nos permitirá rotular algumas empresas da base nacional como existentes de fato.

Vamos obter os CNPJs das empresas listadas na Central de Balanços em 2021 a partir desse site: https://www.gov.br/centraldebalancos/#/demonstracoes

Extração em: 13/04/2021.

In [1]:
import requests
import pandas as pd

In [36]:
# Obtém o json da API da Central de Balanços:
response = requests.get('https://centraldebalancos.estaleiro.serpro.gov.br/centralbalancos/servicesapi/api/Participante?page=1&pageSize=2000&orderBy=nome')
conteudo_json = response.json()
df =  pd.DataFrame.from_dict(conteudo_json["items"])
df

        id            cnpj                                               nome
0     1141  09658732000148                       10 M GROUP PARTICIPACOES S/A
1     1284  33219498000137                         A CHACARA AGROPECUARIA S.A
2       63  33515412000113                        A QUIMICA SANTA MARINA S.A.
3      379  09397311000100      ABIU SPE EMPREENDIMENTOS E PARTICIPACOES S.A.
4      167  41037722000106  ACAFLOR EMPREENDIMENTOS ADMINISTRACAO E SERVIC...
...    ...             ...                                                ...
1034   801  16384900000110  ZAHPEE TECNOLOGIAS DE GESTAO DE DADOS NA INTER...
1035    73  57006264000170                     ZEN S.A. INDUSTRIA METALURGICA
1036   743  23568401000148             ZHOU ADMINISTRACAO DE BEM PROPRIO S.A.
1037     7  17976627000185                            ZMACQ AGROPECUARIA S.A.
1038   156  07119438000132              ZTI ADMINISTRACAO E PARTICIPACOES S/A

[1039 rows x 3 columns]

In [37]:
df = df[['cnpj']]
df.columns = ['CNPJ']
df

                CNPJ
0     09658732000148
1     33219498000137
2     33515412000113
3     09397311000100
4     41037722000106
...              ...
1034  16384900000110
1035  57006264000170
1036  23568401000148
1037  17976627000185
1038  07119438000132

[1039 rows x 1 columns]

In [38]:
df.CNPJ.nunique()

1039

In [40]:
df.to_csv(r'C:\DATASETS\Empresas Existentes de Fato\empresas_central_de_balancos.csv', index = False)