In [1]:
import pandas as pd
import numpy as np

In [2]:
# IMPORTAÇÃO DA BASE DE EMPRESAS
empresas_rotuladas_df = pd.read_csv(r'C:\DATASETS\Empresas Rotuladas\empresas_rotuladas.csv', dtype=str, usecols=['cnpj'])
empresas_rotuladas_df

                   cnpj
0        00000942000170
1        00001102000121
2        00005201000181
3        00005201000262
4        00010501000159
...                 ...
1559938  98593668000194
1559939  98669997000252
1559940  98670235000195
1559941  98670656000116
1559942  98674195000150

[1559943 rows x 1 columns]

### Junção com a base de atendimentos dos Procons:

In [3]:
# IMPORTAÇÃO DA BASE DE ATENDIMENTOS DOS PROCONS
atendimentos_df = pd.read_csv(r'C:\DATASETS\Atendimentos Procons\atentimentos_procon.csv', dtype=str, encoding='latin-1')
atendimentos_df

              CPF_CNPJ Atendimentos_Procon
0       00000000000191               10846
1       00000000000272                   2
2       00000000000515                   1
3       00000000000787                   1
4       00000000001244                   1
...                ...                 ...
130790     99863804053                   2
130791     99893525187                   2
130792     99925001153                   1
130793     99928159653                   1
130794     99932075191                   1

[130795 rows x 2 columns]

In [4]:
atendimentos_df.CPF_CNPJ.str.len().value_counts()

14    128352
11      2443
Name: CPF_CNPJ, dtype: int64

In [7]:
atendimentos_df = atendimentos_df[atendimentos_df.CPF_CNPJ.str.len()==14]
atendimentos_df = atendimentos_df.rename(columns={'CPF_CNPJ': 'cnpj'})
atendimentos_df.shape

(128352, 2)

In [8]:
empresas_rotuladas_df = empresas_rotuladas_df.merge(atendimentos_df, on='cnpj', how='left')
empresas_rotuladas_df

                   cnpj Atendimentos_Procon
0        00000942000170                 NaN
1        00001102000121                 NaN
2        00005201000181                 NaN
3        00005201000262                 NaN
4        00010501000159                 NaN
...                 ...                 ...
1559938  98593668000194                   2
1559939  98669997000252                 NaN
1559940  98670235000195                 NaN
1559941  98670656000116                 NaN
1559942  98674195000150                 NaN

[1559943 rows x 2 columns]

In [9]:
empresas_rotuladas_df.fillna({'Atendimentos_Procon': 0}, inplace=True)

Verificando resultados:

In [12]:
empresas_rotuladas_df.Atendimentos_Procon = empresas_rotuladas_df.Atendimentos_Procon.astype(int)
print(empresas_rotuladas_df[empresas_rotuladas_df.Atendimentos_Procon>0].shape)
print(empresas_rotuladas_df.Atendimentos_Procon.describe())

(8792, 2)
count    1.559943e+06
mean     7.246521e-01
std      1.270590e+02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      7.802300e+04
Name: Atendimentos_Procon, dtype: float64

In [13]:
# Salvando resultado:
empresas_rotuladas_df.to_csv(r'C:\DATASETS\Empresas Rotuladas\empresas_rotuladas-atendimentos_procon.csv', index = False)