In [1]:
import re
import pandas as pd

In [4]:
# IMPORTAÇÃO DAS EMPRESAS BAIXADAS EXTRAÍDAS DE CONSULTA AO SITE DE NORMAS:
site_normas_df = pd.read_csv('C:\DATASETS\Empresas Baixadas\empresas_baixadas_extraido_site_normas.csv', header=0, sep=',', dtype='str')
site_normas_df

,CNPJ,ADE,Link
0,13255232000132,"Ato Declaratório Executivo DRF/MCR nº 1, de 29...",http://normas.receita.fazenda.gov.br/sijut2con...
1,71064976000176,"Ato Declaratório Executivo DRF/MCR nº 1, de 29...",http://normas.receita.fazenda.gov.br/sijut2con...
2,05200212000136,"Ato Declaratório Executivo DRF/MCR nº 39, de 1...",http://normas.receita.fazenda.gov.br/sijut2con...
3,15545768000118,"Ato Declaratório Executivo DRF/MCR nº 37, de 2...",http://normas.receita.fazenda.gov.br/sijut2con...
4,07561035000149,"Ato Declaratório Executivo DRF/MCR nº 31, de 2...",http://normas.receita.fazenda.gov.br/sijut2con...
...,...,...,...
1084,10850388000173,"Ato Declaratório Executivo DRF/AJU nº 5, de 16...",http://normas.receita.fazenda.gov.br/sijut2con...
1085,10530609000126,"Ato Declaratório Executivo DRF/AJU nº 6, de 15...",http://normas.receita.fazenda.gov.br/sijut2con...
1086,05705786000166,"Ato Declaratório Executivo DRF/AJU nº 1, de 27...",http://normas.receita.fazenda.gov.br/sijut2con...
1087,39395132000103,"Ato Declaratório Executivo DRF/VIT nº 129, de ...",http://normas.receita.fazenda.gov.br/sijut2con...
1088,07857451000199,"Ato Declaratório Executivo DRF/PAL nº 17, de 2...",http://normas.receita.fazenda.gov.br/sijut2con...

In [5]:
# IMPORTAÇÃO DAS EMPRESAS BAIXADAS EXTRAÍDAS DE ARQUIVOS ADE:
arquivos_ADE_df = pd.read_csv('C:\DATASETS\Empresas Baixadas\empresas_baixadas_extraido_arquivos_ADE.csv', header=0, sep=',', dtype='str')
arquivos_ADE_df

                                                   Arquivo            CNPJ
0        ADE Cocad n 2 de 2018 - Edital Intimação n 1 d...  00903551000165
1        ADE Cocad n 2 de 2018 - Edital Intimação n 1 d...  01005247000163
2        ADE Cocad n 2 de 2018 - Edital Intimação n 1 d...  01291703000189
3        ADE Cocad n 2 de 2018 - Edital Intimação n 1 d...  01424175000199
4        ADE Cocad n 2 de 2018 - Edital Intimação n 1 d...  01424175000270
...                                                    ...             ...
1374792  lista-de-cnpj-baixados-em-03-04-e-06-04-2020 -...  35007721000108
1374793  lista-de-cnpj-baixados-em-03-04-e-06-04-2020 -...  34665501000109
1374794  lista-de-cnpj-baixados-em-03-04-e-06-04-2020 -...  34670798000109
1374795  lista-de-cnpj-baixados-em-03-04-e-06-04-2020 -...  33930020000110
1374796  lista-de-cnpj-baixados-em-03-04-e-06-04-2020 -...  33901811000112

[1374797 rows x 2 columns]

In [10]:
# Obtém apenas as colunas CNPJ e consolida a lista:
site_normas_df = site_normas_df[['CNPJ']]
arquivos_ADE_df = arquivos_ADE_df[['CNPJ']]
empresas_baixadas_df = pd.concat([site_normas_df, arquivos_ADE_df], ignore_index=True)
empresas_baixadas_df

                   CNPJ
0        13255232000132
1        71064976000176
2        05200212000136
3        15545768000118
4        07561035000149
...                 ...
1375881  35007721000108
1375882  34665501000109
1375883  34670798000109
1375884  33930020000110
1375885  33901811000112

[1375886 rows x 1 columns]

In [16]:
# Verifica se temos formatos diferentes de CNPJ:
empresas_baixadas_df.CNPJ.str.len().value_counts()

14    1375885
15          1
Name: CNPJ, dtype: int64

In [17]:
empresas_baixadas_df[empresas_baixadas_df.CNPJ.str.len() == 15]

                CNPJ
129  10992,828000127

In [23]:
# Faz a correção da linha indevida:
empresas_baixadas_df.loc[129].CNPJ = '10992828000127'
empresas_baixadas_df.CNPJ.str.len().value_counts()

14    1375886
Name: CNPJ, dtype: int64

In [24]:
# Remove duplicados:
empresas_baixadas_df = empresas_baixadas_df.drop_duplicates()
empresas_baixadas_df.shape

(1375877, 1)

In [26]:
# Ordenando:
empresas_baixadas_df = empresas_baixadas_df.sort_values(by=['CNPJ']).reset_index(drop=True)

In [27]:
# Salvando resultado:
empresas_baixadas_df.to_csv('C:\DATASETS\Empresas Baixadas\empresas_baixadas_consolidado.csv', index=False)