In [2]:
import pandas as pd
import numpy as np

In [3]:
colunas = ["CPF", "Nome_PEP"]
pep_df = pd.read_csv(r'C:\DATASETS\Pessoa Exposta Politicamente\1-Arquivos Baixados\202103_PEP.csv',
                     sep=';', dtype='str', usecols=colunas, encoding='latin-1')
pep_df

                   CPF                               Nome_PEP
0       ***.708.767-**              AARAO DE MOURA BRITO NETO
1       ***.810.311-**                   AAVA SANTIAGO AGUIAR
2       ***.333.581-**                 ABADIA DE MOURA MORAES
3       ***.265.851-**  ABADIAS SOUZA DO NASCIMENTO DAMASCENO
4       ***.705.901-**                ABADIO RIBEIRO DA ROCHA
...                ...                                    ...
134531  ***.122.585-**            ZULMIRO FERREIRA DOS SANTOS
134532  ***.154.159-**                          ZULNEI JOCHEM
134533  ***.154.159-**                          ZULNEI JOCHEM
134534  ***.391.321-**                ZURAILDO MATOS DA SILVA
134535  ***.164.502-**                  ZUVEIDE SILVA BEZERRA

[134536 rows x 2 columns]

In [4]:
# Remove nulos:
pep_df = pep_df.dropna()

# Remove duplicados:
pep_df = pep_df.drop_duplicates()

pep_df

                   CPF                               Nome_PEP
0       ***.708.767-**              AARAO DE MOURA BRITO NETO
1       ***.810.311-**                   AAVA SANTIAGO AGUIAR
2       ***.333.581-**                 ABADIA DE MOURA MORAES
3       ***.265.851-**  ABADIAS SOUZA DO NASCIMENTO DAMASCENO
4       ***.705.901-**                ABADIO RIBEIRO DA ROCHA
...                ...                                    ...
134530  ***.032.389-**                ZULMIRA BAPTISTA GENARO
134531  ***.122.585-**            ZULMIRO FERREIRA DOS SANTOS
134532  ***.154.159-**                          ZULNEI JOCHEM
134534  ***.391.321-**                ZURAILDO MATOS DA SILVA
134535  ***.164.502-**                  ZUVEIDE SILVA BEZERRA

[111592 rows x 2 columns]

In [5]:
# Avaliando o que tem no campo de cpf:
pep_df['CPF'].str.len().value_counts()

14    111592
Name: CPF, dtype: int64

In [6]:
# Limpa os CPFs:
pep_df['CPF'] = pep_df['CPF'].str.replace('[\.\-]', '', regex=True)
pep_df['CPF'].str.len().value_counts()

11    111592
Name: CPF, dtype: int64

Quantidade conforme cálculo feito anteriormente.

In [7]:
# Salvando resultado final:
pep_df.to_csv(r'C:\DATASETS\Pessoa Exposta Politicamente\pessoa_politicamente_exposta.csv', index=False)